
#gallery-container {    
    background-color: #f6f6f6;
    
}

#card {
    height: 80vh;
}

@media only screen and (max-width: 540px) {
  
    #gallery-container {
        min-height: clamp(110vh, 135vh, 160vh);
    }

    #card {
        height: clamp(60vh, 90vh, 95vh);
    }

    #gallery-img {
        max-width: calc(8em + 38vw);
    }


}

@media only screen and (min-width: 541px) and (max-width: 991.9px) {

    #gallery-container {
        min-height: clamp(110vh, 135vh, 160vh);
    }

    #card {
        height: clamp(55vh, 75vh, 95vh);
    }

    #gallery-img {
        width: calc(25em + 1vw);
    }


}


@media only screen and (min-width: 992px) {

    #gallery-container {
        height: calc(10em + 140vh);
    }

    #card {
        height: calc(10em + 80vh);
    }

    #gallery-img {
        width: calc(1em + 20vw);
    }


   
}
