
#form-container {
    
    background: #f6f6f6;
}

@media only screen and (max-width: 540px) {

    #form-container {
        height: calc(45em + 60vh);
    }
}

@media only screen and (min-width: 541px) and (max-width: 991.9px) {

    #form-container {
        height: calc(45em + 45vh);
    }

}

@media only screen and (min-width: 992px) {

    #form-container {
        height: calc(45em + 45vh)   ;
    }
}