
#obra-container {
    background: #f6f6f6;
    
}

#work-desc {
    text-align: justify;
    text-align-last: center;
    font-style: italic;
}


@media only screen and (max-width: 540px) {

    #obra-container {
        height: clamp(160vh, 184vh, 200vh)
    }

    #obra-card-img {
        height: calc(20em + 10vh);
    }
    #obra-card-info {
        height: clamp(75vh, 87vh, 100vh)
    }

    #work-img {
        width: calc(15em + 10vw);
    }
}

@media only screen and (min-width: 541px) and (max-width: 991.9px) {
    
    #obra-container {
        height: clamp(140vh, 160vh, 180vh);
    }

    #obra-card-img {
        height: clamp(60vh, 80vh, 100vh);
    }

    #obra-card-info {
        height: clamp(30vh, 45vh, 50vh)
    }
    
    #work-img {
        width: calc(30em + 10vw);
    }
   
}


@media only screen and (min-width: 992px) {

    #obra-container {
        height: calc(40em + 60vh);
    }    

    #work-img {
        width: calc(22em + 10vw);
    }

    #obra-card-info {
        height: 75vh;
    }


   
}