
#faq-container {    
    background-color: #f6f6f6;
}

@media only screen and (max-width: 520px) {

    #faq-container {
        height: calc(45em + 45vh);
    }
}

@media only screen and (min-width: 521px) and (max-width: 991.9px) {
    
    #faq-container {
        height: 100vh;
    }
}

@media only screen and (min-width: 920px) {

    #faq-container {
        height: 110vh;
    }
}